* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
        sans-serif;

    background-image: url(../assets/rain.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;

    main {
        padding: 25px 50px 50px 50px;
        flex: 1;
        overflow-y: hidden;
    }

    header {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 2rem;
        margin-top: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        img {
            height: 2.5rem;
            opacity: 0.5;

            &:hover {
                opacity: 0.75;
            }

            &:active {
                opacity: 1;
            }

            &.inactive {
                filter: hue-rotate(120deg);
            }
        }
    }

    footer {
        text-align: center;
        font-weight: bold;

        a {
            text-decoration: none;
            color: white;
        }
    }

    @media screen and (max-width: 575.98px) {
        main {
            padding: 10px;
        }

        header {
            margin-top: 10px;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(70, 170, 100);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(55, 155, 85);
}
